<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Djangogirls Blog</title>
</head>
<body>
    <div><h1>First Zhibek's blog</h1></div>
    <div>
        <p>Hi there!</p>
        <h2><a href="">Zhibek's first post</a></h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias architecto at debitis
        dicta, dolores fugiat harum illum laboriosam laborum minus, neque, odio omnis qui ratione recusandae saepe sed suscipit voluptatibus!</p>
        <p>It works!!!</p>
    </div>
    <div>
        <h2><a href="https://djangogirls.org">Zhibek's second post</a></h2>
        <p>published: 12.01.2021, 17:38</p>
        <ul>
            <li>первый элемент</li>
            <li>второй элемент</li>
            <li>третий элемент</li>
        </ul>
    </div>
</body>
</html>